<h1>Index page</h1>
<%= render 'shared/searchbar' %>
<p style="display:inline"><%= link_to 'Art', tours_path(category: "art", query: params[:query]) %></p>
<p style="display:inline"><%= link_to 'History', tours_path(category: "history", query: params[:query]) %></p>
<p style="display:inline"><%= link_to 'Architecture', tours_path(category: "architecture", query: params[:query]) %></p>
<p style="display:inline"><%= link_to 'urban', tours_path(category: "urban", query: params[:query]) %></p>
<p style="display:inline"><%= link_to 'All', tours_path %></p>




<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div id="tours">
        <% @tours.each do |tour| %>
          <h4><%= tour.title %></h4>
          <p><%= tour.city %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
