
<%= render 'shared/searchbar' %>
<div class="category-form">
  <%= link_to 'Art', tours_path(category: "art", query: params[:query] ), class: "category-link #{'category-link-active' if params[:category] == 'art'}",  query: params[:query] %>

  <%= link_to 'History', tours_path(category: "history", query: params[:query] ), class: "category-link #{'category-link-active' if params[:category] == 'history'}", query: params[:query] %>

  <%= link_to 'Architecture', tours_path(category: "architecture", query: params[:query] ), class: "category-link #{'category-link-active' if params[:category] == 'architecture'}", query: params[:query] %>

  <%= link_to 'Urban', tours_path(category: "urban", query: params[:query] ), class: "category-link #{'category-link-active' if params[:category] == 'urban'}",  query: params[:query] %>
</div>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div id="tours">
      <% @tours.each do |tour|  %>
        <%= render 'pages/bigcard', tour: tour %>
      <% end %>
    </div>
  </div>
</div>



