<div class="card carousel-cell">
  <%= link_to tour_path(tour), class: "card-link" do %>
    <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path tour.photo, crop: :fill %>');">
      <div class="card-title">
        <%= tour.title %>
      </div>
      <div class="card-city">
        <%= tour.city %>
      </div>
      <div>
        <%= link_to '  <i class="fa fa-trash-o"></i>'.html_safe, delete_user_tour_tour_path(tour), method: :delete, data: {confirm: "Delete this tour?"}, class: "card-delete" %>
      </div>
    </div>
  <%end %>
</div>
