<div class="searchbar-container">
  <%= render 'shared/searchbar' %>
</div>

<div id="homePageCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <%= render 'bannercard' %>
    </div>
    <% @tours.each do |tour| %>
      <div class="item">
        <%= render 'pages/homecard', tour:tour %>
      </div>
    <% end %>
  </div>
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="icon-prev" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="icon-next" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="sublines">
<p>Popular Cities</p>
<%= render 'shared/cardswap' %>
</div>

<div class="sublines">
<p>The People behind the voice</p>
<div class="flickity-carousel" id="myCarousel" data-ride="carousel" data-flickity='{ "cellAlign": "left", "freeScroll": true, "pageDots": false, "prevNextButtons": false}'>
<% @tours.shuffle.take(4).each do |tour| %>
        <%= render 'shared/cardswap2', tour:tour %>
  <% end %>
 </div>

<div class="sublines">
<p>Explore Cities</p>
<div class="flickity-carousel" id="myCarousel" data-ride="carousel" data-flickity='{ "cellAlign": "left", "freeScroll": true, "pageDots": false, "prevNextButtons": false}'>
<% @tours.shuffle.take(4).each do |tour| %>
        <%= render 'shared/cardswap2', tour:tour %>
  <% end %>
 </div>
</div>



